.a-film-link {
    text-decoration: none !important;
}

.info-block {
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: -50px;
    width: 800px;
    padding: 10px 20px 30px 50px;
    background-color: #fafafa;
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 15px;
}