.p-model {
    font-size: 22px;
}

.a-actor-link {
    color: #282c34 !important;
}

.vertical-align-center {
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 5px;
}

.info-block {
    margin-top: 130px;
    margin-bottom: 150px;
    width: 700px;
    padding: 5px 15px; 
    background-color: #fafafa;
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 15px;
}

.actors-cast-block {
    margin-bottom: 50px;
    margin-top: 20px;
    width: fit-content;
    background-color: #fafafa;
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 15px;
    display: flex;
}

.actor-item {
    min-width: 15rem;
    padding: 5px;
    margin: 5px;
    display: flex;
    font-size: 17px;
    background-color: #fafafa;
}

.cards {
    display: flex;
}

.card {
    width: 40rem;
    margin-top: 10px;
    margin-right: 30px;
}